Repository ha308ing/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, stylelint, eslint

update thread manage actions notification
  src/api/threadsAPI.ts
  src/controllers/threadsController.ts
Due: prettier --check, eslint

websocket: skip user connected message
  src/system/wsTransport.ts
Due: prettier --check, eslint

thread manage: consider roles when showing controls
  src/components/layouts/threadLayout/components/ThreadManage/components/ThreadMembersList/index.ts
  src/components/layouts/threadLayout/components/ThreadManage/index.ts
  src/components/layouts/threadLayout/components/ThreadMember/ThreadMember.hbs
  src/components/layouts/threadLayout/components/ThreadMember/index.ts
  src/controllers/threadsController.ts
  src/types/types.api.ts
Due: prettier --check, eslint

store: clear store if wrong prop is set
  src/system/store.ts
Due: prettier --check, eslint

thread manage: update threads on remove
  src/controllers/threadsController.ts
Due: prettier --check, eslint

readme: update preview
  README.md
Due: none

Sprint 4 (#7)
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/api/threadsAPI.ts
  src/components/layouts/threadLayout/components/ThreadManage/components/ThreadMembersList/index.ts
  src/components/layouts/threadLayout/components/ThreadManage/index.ts
  src/components/layouts/threadLayout/components/ThreadMember/ThreadMember.hbs
  src/components/layouts/threadLayout/components/ThreadMember/index.ts
  src/controllers/threadsController.ts
  src/system/component.test.ts
  src/system/httpTransport.test.ts
  src/system/router.test.ts
  src/system/router.ts
  src/system/store.ts
  src/system/wsTransport.ts
  src/types/types.api.ts
Due: prettier --check, eslint

chore: update vite4.5.2
  package-lock.json
  package.json
Due: prettier --check

Path conditions:
  prettier --check: ((((any of: ./src/**/*.{scss,css}) or (any of: ./src/**/*.{ts,js})) or (any of: ./*.{ts,js})) or (any of: ./*.{json, toml})) or (any of: ./src/**/*.html)
  stylelint: any of: ./src/**/*.{scss,css}
  eslint: (any of: ./src/**/*.{ts,js}) or (any of: ./*.{ts,js})
